.sidebar-menu{width:230px;padding:0 0 0 0;overflow:hidden;z-index:21}
.sidebar-menu ul li{list-style:inside;color:#d8d8d8;padding-bottom:5px}
.sidebar-menu ul li a{font-size:15px;color:#333}
.sidebar-menu ul li a.current{color:#0da9c4}
.sidebar-menu > .sidebar-menu-list{min-width:220px;margin-bottom:30px}
.sidebar-menu .sidebar-menu-title{padding-top:15px;padding-bottom:7px;margin:0 auto 20px;font-size:18px;font-weight:500;border-bottom:1px solid #d1d1d1}
.sidebar-menu .sidebar-menu-content > a{display:block;padding-bottom:9px;font-size:15px}
.sidebar-menu a{font-weight:400}
.sidebar-menu a.current{color:#0da9c4}
.sidebar-menu .secondary-menu > a{display:block;padding-bottom:9px;font-size:14px;line-height:1.2}
.main-section{width: calc(100% - 250px);}

.btn-default,a.btn-default,a.btn-default:hover,.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open > .dropdown-toggle.btn-default,.btn-checkout,a.btn-checkout,a.btn-checkout:hover{display:inline-block;height:40px;border:0 none;background-color:#06b4d1;color:#fff !important;text-align:center;line-height:40px;border-radius: 4px;vertical-align:middle}
/*account */
.gs-account{padding:10px}
.gs-account .top-desc h1{font-size:36px}
.gs-account .top-desc h2{font-size:22px}
.gs-account .top-desc p{color:#4d4d4d;margin-bottom:auto}
.gs-account .top-desc hr{border:none;height:1px;background-color:#0a0a0a;width:20%}
.gs-account .face-guide h3{font-size:24px}
.gs-account .face-guide p{text-indent:25px}
.gs-account .b-link a{color:#5b5a5a;padding:0 10px;text-decoration:underline}
.gs-account .h1-action{font-size:14px;margin-top:20px}
.gs-account .h1-action a{color:#0ab1b9}

/*address */
.address_form .control{border:0 none;border-bottom:1px solid #ccc;width:100%;height:48px;background: transparent;padding: 0 10px;}




