.cart-title{font-weight:700;padding:39px 15px 49px;text-align:left}
.cart-title h2{font-size:30px;padding-left:30px}
.car-empty{background:#fff;padding-bottom:120px;padding-top:90px;text-align:center}
.empty-text{margin-top:70px}
.emptyTitle{font-size:30px;font-weight:700;margin-bottom:15px}
.btn-empty{margin-top:45px}
.btn-empty .cartBtn{background:#0da9c4;border:none;border-radius:4px;color:#fff;display:inline-block;font-size:18px;height:50px;line-height:50px;width:300px}

.car-code{position:relative}
.btn-apply-code,.car-code-input{border-radius:5px;height:45px;outline:none}
.car-code-input{border:1px solid #ccc;padding-left:10px!important;width:calc(100% - 90px)}
.btn-apply-code{background:#f16c00;border:none;color:#fff!important;font-size:14px;line-height:43px;padding:0;position:absolute;right:0;top:0;width:75px}

.coupon-remove{color:#0da9c4;cursor:pointer;position:absolute;right:0;top:50%;transform:translateY(-50%)}
.gs-cart-total-summary{font-size:14px;padding-top:25px}
.gs-cart-total-detail,.total-summary{font-size:16px;font-weight:700}
.total-summary{margin-bottom:10px}
.gs-cart-total-detail{border-top:1px solid #dadada;margin-top:23px;padding-top:25px}

.gs-cart-btn-continue{color:#2a2a2a;font-size:14px;margin-top:15px;text-align:center}
a.color-link-defaut{border-bottom:1px solid #333;color:#333}
.pc-gs-cart-coupon{align-items:center;display:flex;justify-content:space-between;padding:0 0px;margin-top: 20px;}
.gs-cart-coupon-conent{display:inline-block;padding-left:32px;position:relative}
.gs-cart-coupon-conent a{color:#333}
.Guarantee{height:26px;left:0;position:absolute;top:50%;transform:translateY(-50%)}
.pc-gs-cart-coupon .divider{color:#dadada;display:inline-block}
.gs-cart-coupon-conent h4 {font-size: 12px;margin-bottom: 0;}
.hide-item {display: none!important;}
.btn-checkout{background:#0da9c4;border-radius:4px;color:#fff!important;font-size:20px;width:100%;line-height: 26px;}
.btn-emptyCheck{background:#c1c1c1!important}

.cart-shopping{border-radius:4px;padding-bottom:30px;padding-top:50px}
.cart-shopping,.try-shopping{background:#fff;box-shadow:0 0 15px 0 #e3e3e3;margin-bottom:10px;padding-right:30px}
.cart-img{padding-left:35px}
.product-icon-text{background-color:#ff6c25;border-radius:20px;color:#fff;font-size:15px;left:35px;padding:1px 8px;position:absolute;top:-10px;z-index:2}
.js-cart-product-info{padding-left:0;padding-right:0}

.qtyInfo{border-bottom:1px solid #dadada;padding-bottom:15px;padding-top:5px}
.car-label{display:inline-block;font-weight:700;width:60px}
.subtotalInfo{margin-top:25px}
.close-btn{cursor:pointer;position:absolute;right:10px;top:10px;width:18px}
.close-bac,.wishlist-bac{display:none;height:100%;left:0;position:absolute;top:0;width:100%;z-index:2}
.remove-bac{background:#fff;height:100%;opacity:1;width:100%}
.close-content{background:#fff;left:50%;position:absolute;text-align:center;top:50%;transform:translate(-50%,-50%);z-index:2}
.btn-close,.close-title{font-weight:700}
.btn-remove{width:230px}
.btn-close{border:none;border-radius:4px;color:#333!important;display:inline-block;height:30px;line-height:30px;margin:25px 15px 0;text-align:center;width:80px}
.btn-y{background:#0da9c4;color:#fff!important}
.btn-n{background:#e9f1f3}
