
/*product-list*/
.color_img{cursor:pointer;margin:3px;width:16px;height:16px;border-radius:50%;border:1px solid #fff;overflow: hidden;box-sizing:border-box}
.color_img li{flex:1}

.product-icon-text-style2{background-color: #777620;color: white;font-size: 15px; border-radius: 20px;padding: 1px 8px;margin-bottom: 5px;}
.product-img img{width: 100%;max-height: 100%;}
.product-img li>div{height: 165px;}

.filter-wrap{height:54px;border:1px solid #d1d1d1;border-right:0;border-left:0}
.filter-menu{padding:16px 18px;text-transform:uppercase;cursor:pointer;border:1px solid transparent;border-top:0;border-bottom:0}
.filter-menu .icon-arrow-down{margin-left:8px;display:inline-block;width:12px;height:12px;transform:rotate(180deg);}
.filter-down{display:none;position:absolute;left:0;top:53px;z-index:30;border:1px solid #d1d1d1;border-top:0;padding:16px;background-color:#fcfcfc}
.filter-down-gender{width:100%;}
.filter-item.active,.filter-item:hover{background-color:#fcfcfc;min-height:53px;margin-bottom:-1px}
.filter-item.active .filter-menu,.filter-item:hover .filter-menu{border-color:#d1d1d1}
.filter-wrap label{width: 100%;cursor: pointer;display: flex;align-items: center;}
.color-link {color: #3EA0C0;}
.filter-icon{padding: 2px;width: 16px;height: 16px;border-radius: 50%;border: 1px solid #fff;margin-right: 10px;}
.filter-down .filter_where{width: 100%;}
.filter-down-size{width: 880px;}
.filter-down-size .filter_where{}
.filter-down-shape, .filter-down-feature {width: 500px;}
.filter-down-material, .filter-down-frame {width: 300px;}
.filter-down-shape .filter_where,.filter-down-feature .filter_where,.filter-down-material .filter_where, .filter-down-frame .filter_where{width:48%;}
.filter-down-color {width: 530px;}
.filter-down-color .filter_where{width: 31%;}
.filter_where input{margin-right: 10px;}
.filter_where img{height: 16px;width: 53px;margin-right: 10px;}
@media (min-width: 1200px) {
    .filter-item:hover .filter-down {
        display: block;
    }
}


/*product-detail*/
.carousel-indicators li{width:10px;height:10px;margin:5px 7px;background:#D6D6D6;display:block;-webkit-backface-visibility:visible;transition:opacity .2s ease;border-radius:30px;border: 1px solid #414b56;}
.product-main-detail{height: 560px;}
.carousel-indicators li.active,.carousel-indicators li:hover{background: #414b56;}
.product-detail-img{position: relative;}
.product-detail-img .carousel,.product-detail-img .carousel-inner{height: 100%;}
.product-detail-img .carousel-item{height: 100%;}
.product-detail-img .carousel-item>div{height: 100%;display: flex;align-items: center;}
.product-detail-img .carousel-item img{max-height: 100%;width: 100%;}
.product-detail-img .carousel-indicators{margin: 0;justify-content: left;}
.product-detail-img_btn{position: relative;}
