/*product-admin*/
.filter-icon{padding:2px;width:16px;height:16px;border-radius:50%;border:1px solid #fff;margin-right:10px}
.tes{display: flex;flex-wrap: wrap;}
.tes .form-group{width: 48%;margin: 0 1% 10px;}
.libs_input label{display: flex;align-items: center;}



.add_div_attribute .search{position: relative;width: 30%;}
.add_div_attribute .text{width: 50%;padding: 0 10px;}
.add_div_attribute .text textarea{width: 100%;min-height: 100px;padding:5px 10px;border: 1px solid #999;}
.search_delDiv{width: 20%;height: 32px;line-height: 32px;}
.add_div_attribute .search_input{outline: none;height: 32px;line-height: 32px;width: 100%;padding: 0 10px;border: 1px solid #999;border-radius: 4px}
.add_div_attribute .text input{width: 100%;padding: 0 10px;}
.search_res{max-height: 200px;overflow-y: auto;z-index: 1;min-height: 100px;display: none; border-radius: 3px;position: absolute;top: 32px;left: 0;width: 100%;border: 1px solid rgba(0, 0, 0, 0.15);box-shadow: 0 6px 12px rgb(0 0 0 / 18%);background: #fff;}
.search_res_item .groupname{color: #999;padding: 3px 20px;}
.search_res_item  ul{}
.search_res_item  ul li{padding: 5px 20px 5px 30px;line-height: 30px;cursor: pointer;}
.search_res_item  ul li:hover{background: #f1f1f1;}
.add_div_attribute .item input[readonly]{background: #f1f1f1;}
.add_div_attribute .item .app-lajitong:hover{color:darkred}
.add_div_attribute .item .app-lajitong{cursor: pointer;}
.add_div_attribute .item{margin-bottom: 10px}
.add_div_btn{padding:10px 0;}

.option{margin-bottom: 20px;}
.option .search{position: relative}
.option_name{width: 160px;margin-right: 20px;flex-shrink: 0;}
.option_value{width: calc(100% - 180px);}
.option_name .search_input{outline: none;height: 32px;line-height: 32px;width: 100%;padding: 0 10px;border: 1px solid #999;border-radius: 4px}
.option_name .search_res ul li{padding: 2px 20px 2px 30px;line-height: 30px;cursor: pointer;}
.option_name .name{color: #999;padding: 3px 20px;}
.option_ul li{margin-bottom: 5px;}
.option_ul li.curr{color: #fff; background-color: #06a7a7;border-radius: 4px;}
.option_ul li:not(.curr):hover{background-color: #eee;border-radius: 4px;}
.search_delDiv{text-align: center;}
.search_delDiv i{cursor: pointer;}
.option_name .text{line-height: 32px;}
.option_name .search{margin-top: 20px;}
.option_value_ul_box>li{display:none; }
.option_value_ul_box>li.curr{display:block;}
.option_value_ul_box>li>span{flex:1;}
.option_value_list{}
.option_value_list ul li{display: flex;margin-bottom: 10px;}
.option_value_list ul li span{flex: 1;text-align: center;line-height: 32px;margin: 0 10px;}
.option_value_list ul li span input,.option_value_list ul li span select{outline: none;height: 32px;line-height: 32px;padding: 0 10px; border: 1px solid #999;border-radius: 4px;width: 100%;}
.option_value_list ul li span:nth-child(1){flex: 2;}
.option_value_list ul li span:nth-child(2){flex: 1;}
.option_value_list ul li span:nth-child(3){flex: 1;}
.option_value_list ul li span:nth-child(4){flex: 1;}
.option_value_list ul li span:nth-child(5){flex: 1;}
.option_value_list ul li span:nth-child(6){flex: 1;}
.option_value_list ul li span:nth-child(7){flex: 1;}
.option_value_list ul li span i{cursor: pointer;}
.option .app-jian:hover{color: #bd0404;}
.option .app-jia:hover{color:#2abb06}
.option_required{ margin-bottom: 0;line-height: 32px;margin-right: 20px;}
