.special_price{opacity: .5;text-decoration: line-through;}
.price_sale{color: #e36254;}
.price span{margin-right: 10px;}

.product_option dl{display: flex;}
.product_option dl dd{border: 1px solid #ffffff;padding: 4px;}
.product_option dl dd.active{border: 1px solid saddlebrown}
.product_option img{width: 28px;height: 28px;}

.product_image img{width: 100%;}
.product_image dd{display: none}
.product_image dd.active{display: block}

.quantity-wrapper{display: flex;}
.quantity-wrapper div,.quantity-wrapper input{text-align: center; line-height: 48px;height: 48px;width: 48px;min-width: 48px;background-color: #fff;border: 1px solid #f1f1f1;border-radius: 2px;}
.quantity-wrapper div{color: #aaa;font-size: 30px;cursor: pointer;user-select: none}
.quantity-wrapper input{margin: 0 10px;}

.file_img{margin-bottom: 10px;display: flex;flex-wrap: wrap;}
.file_img img{width: 100px;height: 100px;margin: 6px;}

.grade-star-bg{width: 100px;height: 20px;position: relative;margin-bottom: 10px;top: -3px;}
.grade-star-bg .star-progress {height: 100%;position: absolute;left: 0;top: 0;display: flex;z-index: 1;overflow: hidden;}
.grade-star-bg .star-progress i{color: #e17a10;}
.grade-star-bg i{flex-grow: 0;flex-shrink: 0;display: block;width: 20px;height: 20px;}
.grade-star-bg .star-bg{height: 100%;position: absolute;left: 0;top: 0; width: 100%;display: flex;}
.grade-star-bg .star-bg i{color: #ddd;}

.account_btn{border-radius: 4px;border: 1px solid #333;padding: 0 10px;line-height: 34px;}

.my_product{padding-top: 5px;background: #fff;}
.my_product dd{margin-bottom: 5px;}
.my_product12c{font-size: 12px;color:#999;}
.my_product122{width: calc(100% - 100px);}
.my_product12b{font-weight: 500;margin-bottom: 5px;margin-top: 5px;}
.my_product img{width: 80px;height: 80px;margin-right: 20px;border-radius: 4px;}
.my_product122_ul{color:#999;}

.service_upload {display: flex;}
.service_upload img{border-radius: 4px;}
.my_step{padding: 15px 0;}
.my_step dd{margin-bottom: 5px;}
.my_step1{display: flex;line-height: 30px;color: #999;align-items: center;}
.my_step11{background: #999;border-radius: 50%;width: 10px;height: 10px;margin: 5px;}
.my_step22{padding-left: 10px; margin-left: 10px;border-left: 1px solid #999;margin-bottom: 10px;}
