
.special_price{opacity: .5;text-decoration: line-through;}
.price_sale{color: #e36254;}
.price span{margin-right: 10px;}

.product_option dl{display: flex;}
.product_option dl dd{border: 1px solid #ffffff;padding: 4px;}
.product_option dl dd.active{border: 1px solid saddlebrown}
.product_option img{width: 28px;height: 28px;}

.product_image img{width: 100%;}
.product_image dd{display: none}
.product_image dd.active{display: block}

.quantity-wrapper{display: flex;}
.quantity-wrapper div,.quantity-wrapper input{text-align: center; line-height: 48px;height: 48px;width: 48px;min-width: 48px;background-color: #fff;border: 1px solid #f1f1f1;border-radius: 2px;}
.quantity-wrapper div{color: #aaa;font-size: 30px;cursor: pointer;user-select: none}
.quantity-wrapper input{margin: 0 10px;}

.file_img{margin-bottom: 10px;display: flex;flex-wrap: wrap;}
.file_img img{width: 100px;height: 100px;margin: 6px;}

.grade-star-bg{width: 100px;height: 20px;position: relative;margin-bottom: 10px;top: -3px;}
.grade-star-bg .star-progress {height: 100%;position: absolute;left: 0;top: 0;display: flex;z-index: 1;overflow: hidden;}
.grade-star-bg .star-progress i{color: #e17a10;}
.grade-star-bg i{flex-grow: 0;flex-shrink: 0;display: block;width: 20px;height: 20px;}
.grade-star-bg .star-bg{height: 100%;position: absolute;left: 0;top: 0; width: 100%;display: flex;}
.grade-star-bg .star-bg i{color: #ddd;}

.account_btn{border-radius: 4px;border: 1px solid #333;padding: 0 10px;line-height: 34px;}

.my_product{padding-top: 5px;background: #fff;}
.my_product dd{margin-bottom: 5px;}
.my_product12c{font-size: 12px;color:#999;}
.my_product122{width: calc(100% - 100px);}
.my_product12b{font-weight: 500;margin-bottom: 5px;margin-top: 5px;}
.my_product img{width: 80px;height: 80px;margin-right: 20px;border-radius: 4px;}
.my_product122_ul{color:#999;}

.service_upload {display: flex;}
.service_upload img{border-radius: 4px;}
.my_step{padding: 15px 0;}
.my_step dd{margin-bottom: 5px;}
.my_step1{display: flex;line-height: 30px;color: #999;align-items: center;}
.my_step11{background: #999;border-radius: 50%;width: 10px;height: 10px;margin: 5px;}
.my_step22{padding-left: 10px; margin-left: 10px;border-left: 1px solid #999;margin-bottom: 10px;}

.product-category{display:flex;flex-wrap:wrap}
.product-category li{width:calc(20% - 8.5px);margin:0px 10px 10px 0px;padding:10px;background:#fff;transition: box-shadow .2s ease-in-out;border-radius: 6px;}
.product-category li:hover{box-shadow:0 2px 12px 2px #eee;}
.product-category li .image{margin-bottom:10px;position:relative;z-index:10}
.product-category li .name{text-transform:capitalize;font-size:14px;color:#000;height:36px;line-height:18px;overflow:hidden;margin-bottom:5px;}
.product-category li .price{font-weight: 600; font-size: 16px;line-height: 20px;}
.product-category .p_name{ height: 24px;line-height: 24px;font-weight: 500;margin: 6px 0;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.product-category li a:hover{color:#444;}
.img-responsive{max-width:100%;height:auto}
.product-category > li:nth-child(5n),.product-category li:last-child{margin-right:0}
.home_title{text-align: center;font-size: 30px;margin: 30px 0 20px;}
.touming:after{opacity:1;content:"";top:0;left:0;right:0;bottom:0;position:absolute;transition:opacity 200ms ease-in;background-image:linear-gradient(to bottom,rgba(255,255,255,0),white);pointer-events:none}
.wt-badge{margin-top:5px}
.wt-badge--small{border-radius:15px;font-size:12px;font-weight:500;min-width:17px;padding-top:3px;padding-bottom:3px;padding-left:6px;padding-right:6px}
.wt-badge--sale-01{background:#d4e9d7;color:inherit}
.wt-badge--status-03{background:#fdebd2;color:inherit}

@media (max-width: 1199.98px) {
    .product-category li{width: calc(50% - 5px);}
    .product-category > li:nth-child(2n),.product-category li:last-child{margin-right:0}
}

.viewer-canvas{background: #fff;}
.viewer-navbar{background-color: rgba(235,235,235,0.5);}
body{background: #fff;}
img{border-radius: 6px;}



/*product category*/
.img-responsive{max-width:100%;height:auto}
.product-category > li:nth-child(4n),.product-category li:last-child{margin-right:0}
.product_list_l .filters1{font-size: 34px;margin-bottom: 20px;font-weight: 600;}
.product_list_l{width: 20%;margin-right: 40px;}
.product_list_l1{min-height: 500px;padding:0;border-radius: 4px;}
.product_list_r{width: calc(80% - 40px);}
.filters11{font-size: 18px;font-weight: 500; margin: 10px 0;display: flex;justify-content: space-between;cursor: pointer}
.filters12{display: flex;flex-wrap: wrap;}
.filters12 dd{width: 100%;line-height: 34px;}
.filters12 dd a{color:#777;position: relative;padding: 0 10px;font-weight: 600}
.filters12 dd a.active,.filters12 dd a:hover{color:#000;}
.filters12 .item-link:after{content:"";background:#000;position:absolute;bottom:0px;right:0;width:0;height:1px;-webkit-transition:all .3s ease;transition:all .3s ease}
.filters12 .item-link.active:not(.disabled):after,.filters12 .item-link:not(.disabled):hover:after{left:0;right:auto;width:100%}
.clear_all{background: transparent !important;}
/*product category*/

/*product detail*/
.info_img_big{}
.info_img_big li{display: none;}
.info_img_big li.on{display: block;}
.info_img_big img{width: 100%;}

.product_detail_img{width:calc(60% - 40px);position:relative;display: flex;flex-direction: row-reverse;}
.product_detail_img .big_img{width:calc(100% - 90px);}
.product_detail_img .big_img img{width:100%;height:100%}
.product_detail_img .small_img{margin-right: 10px;width: 80px;display: flex;flex-wrap: wrap;align-content: flex-start;}
.product_detail_img .small_img .swiper-container{text-align:center;width:100%; height: 600px;}
.product_detail_img .small_img .swiper-slide img{width:80px;height:80px;margin:0 0 5px 0;border-radius: 4px;}
.product_detail_img .small_img .swiper-wrapper .swiper-slide.active img{border:1px solid #000}
.product_detail_img .lr_icon{width: 100%;height: 25px;cursor: pointer;text-align: center;background: #f1f1f1;border-radius: 4px;}
.lr_icon_left{margin-bottom: 5px}
.lr_icon_right{margin-top: 5px}
.lr_icon_left i{display: block;transform: rotate(90deg);}
.lr_icon_right i{display: block;transform: rotate(270deg);}

.product_detail{display: flex;justify-content: space-between;}
.product_detail_info{width:40%;margin-left: 40px;}
.product_detail_info_title{font-size: 40px;}
.price {font-size: 24px;font-weight: 600;}
.product_detail_info_title_xia{margin-bottom: 10px;}
.wishlist_one{}
.quantity-label{font-size: 16px;font-weight: 500;margin-bottom: 5px;}

@media (max-width: 1199.98px) {
    .product_detail_img{display: block;}
    .info_img_big,.info_img_big li{height: 100%;}
    .product_detail_img .big_img{width: 100%;}
    .product_detail_img .big_img img{max-height: 100%;}
    .product_detail{flex-wrap: wrap;}
    .product_detail_img{width:100%;}
    .product_detail_info{width: 100%;margin-left: 0;}
    .product_detail_info_title{font-size: 30px;font-weight: 600; margin-top: 10px;}
    .product_detail_img .small_img{margin-right:0;width: 100%;display: flex;align-content: inherit;flex-wrap: nowrap;margin-top: 5px;}
    .product_detail_img .small_img .swiper-container{text-align:center; height:70px;width: calc(100% - 60px);}
    .product_detail_img .lr_icon{width:25px;height: 70px;line-height: 70px;}
    .lr_icon_left{margin-right: 5px;margin-bottom: 0}
    .lr_icon_right{margin-top: 0;margin-left: 5px;}
    .product_detail_img .small_img .swiper-slide img{width:70px;height:70px;margin:0 5px 0 0;border-radius: 4px;}
    .lr_icon_left i{transform: rotate(0deg);}
    .lr_icon_right i{transform: rotate(180deg);}
}

.my_tab{border-bottom: 1px solid #d1d1d1;display: flex}
.my_tab .my_bt{line-height: 50px;padding: 0 20px;cursor: pointer;color: #888; font-weight: 600;font-size: 16px;}
.my_tab .my_bt.active{color: #333;border-bottom: 4px solid #333;}
.description{padding: 15px;}
.wishlist_one i{font-size: 20px;}
.info_attr{padding: 15px;display: flex;flex-wrap: wrap;}
.info_attr li{width: 31%;margin:5px 1%;}
.my_box{margin-top: 20px;}

.review{margin-bottom: 20px;}
.review1{display: flex;justify-content: space-between;margin: 20px 0 10px;align-items: center;}
.write_a_review_pre{display: flex;font-weight: 600;}
.write_a_review_pre .grade-star-bg{margin:0 10px;}
.write_a_review{padding: 0 26px;font-size: 16px;text-align: center; margin-top: 8px;background: #ddd;border-radius: 4px; height: 48px;line-height: 48px;margin-bottom: 10px;cursor: pointer}
.review_list{display: flex;flex-wrap: wrap;}
.review_list li{display: flex;justify-content: space-between;width: 100%;margin-bottom: 10px;padding-bottom: 10px;border-bottom: 1px dashed #ddd;}
.review_left{width: 200px;}
.review_right{width: calc(100% - 220px);margin-left: 20px;}
.created_at{color:#888;}
.review_list_img{display: flex;flex-wrap: wrap;}
.review_list_img img{width: 50px;height: 50px;margin-right: 10px;border-radius: 4px;}
.review_content{margin-bottom: 10px;}

.review_form textarea{width: 100%;height: 100px;}
.add_photo{height: 40px;line-height: 40px;text-align: center;border:1px dashed #ddd;margin: 10px 0;cursor: pointer;}
.add_photo i{margin-right: 5px;font-size: 20px;position: relative;top: 2px;}
.review_form button{width: 100%;text-align: center;border: none;background: #000;height: 40px;line-height: 40px;color: #fff;}
.input_star{margin: 10px 0;}
.input_star li.on i{color:#e17a10;}
.input_star li i{color: #ddd;}
.input_star li{margin-right: 5px;cursor: pointer}
.input_star{display: flex;}

@media (max-width: 1199.98px) {
    .review1{justify-content: left;flex-wrap: wrap;flex-direction: column-reverse;margin-top: 10px;}
    .write_a_review_pre{width: 100%}
    .write_a_review{width: 100%}
    .review_left{width: 100px;}
    .review_right{width: calc(100% - 110px);margin-left: 10px;}
}

.info_option label{padding: 10px 20px; border: 1px solid #f1f1f1;margin-right: 10px; border-radius: 2px;cursor: pointer;background: #fff;}
.info_option label img{width:30px;height:30px;margin-right: 10px;}
.info_option label:hover,.quantity-wrapper div:hover{border: 1px solid #ddd;}
.info_option label.active{border: 1px solid #333;}

.add_cart_btn{height: 48px;background: #fff;width: 100%;border-radius: 2px;color:#333;font-weight: 600;border:1px solid var(--btn_bg); }
.add_cart_btn:hover{background:var(--btn_bg);color:var(--btn_color_hover);}

.buy_btn{height: 48px;background: var(--btn_bg);width: 100%;border-radius: 2px;color:var(--btn_color);border: none;font-weight: 600;}
.buy_btn:hover{background:var(--btn_bg_hover);color:var(--btn_color_hover);}
.flag_checkbox input{ position: absolute;z-index: -1;}
.flag_radio input{ position: absolute;z-index: -1;}
/*product detail*/

/*checkout*/
.checkout{display: flex;flex-wrap: wrap;}
.checkout_l{width: calc(60% - 40px);margin-right: 40px;background-color: #fff;border-radius: 4px;}
.checkout_r{width: 40%;}
.checkout_box{margin-bottom: 40px;}

.checkout_title{margin-bottom: 20px;font-size: 18px;font-weight: 500;}
.checkout_info{padding: 10px 15px;border-radius: 4px;border: 1px solid #ced4da;}
.checkout_info li{display: flex;justify-content: space-between;margin-bottom: 10px;padding-bottom: 10px;border-bottom: 1px solid #f1f1f1;}
.checkout_info li span:nth-child(2){margin-right: auto;}
.checkout_info li span:first-child{width: 70px;flex-shrink: 0;}
.checkout_info li:last-child{margin-bottom: 0;padding-bottom: 0;border-bottom: none;flex-shrink: 0;}
.checkout_info li span:last-child a{color: var(--btn_bg_hover);}

.checkout_ul li{ padding: 10px 15px;border-radius: 4px;cursor: pointer;border: 1px solid #ced4da;margin-bottom: 10px;}
.checkout_ul li.active{border:1px solid #333;}

.checkout_btn{display: flex;justify-content: space-between;align-items: center;}
.checkout_btn button{background-color: var(--btn_bg);padding: 14px 20px;color: #fff;border: none;border-radius: 4px;}
.checkout_btn_l a{color: var(--btn_bg_hover);}

.items-info-list-all{padding: 0;}
.items-info-list{}
.items-info-list .items-info{display:flex;margin-bottom: 10px;}
.items-info-list .items-info .items-img{width: 70px;height: 70px;display: flex;align-items: center;justify-content: center;}
.items-info-list .items-info .items-img img{max-width: 100%;max-height: 100%;border-radius: 4px;}
.option_name_str{color: #999;font-size: 12px;}
.items-subtotal{width: 60px;display: flex;align-items: center;justify-content: flex-end;font-weight: 500;position: relative;}
.items-lists{width: calc(100% - 160px);margin: 0 10px 0 20px;}
.checkout-totals{padding: 0 0 20px;}
.order-list{display: flex;justify-content: space-between;margin-bottom: 10px;}
.items-total-price{padding-top: 0;font-size: 18px;font-weight: 500;}
.items-price{padding-bottom: 10px;}
.order-list .items-right{font-weight: 500;}
.items-info-list{padding: 20px 0;}
.items-subtotal span.discount{position: absolute;bottom: 10px;color: #999;font-size: 12px;}
.price_qty{font-size: 12px;color: #999;}
.price_qty span{margin-right: 10px;}
.items-lists li{height: 22px;line-height: 22px;}

.btn-apply-code,.cart-code-input{border-radius:5px;height:45px;outline:none}
.cart-code-input{border:1px solid #ccc;padding-left:10px;width:calc(100% - 120px)}
.btn-apply-code{background:#f16c00;border:none;color:#fff;font-size:14px;line-height:43px;padding:0;width: 110px;margin-left: 5px;position: relative;top: -1px;}
.btn-apply-code:hover{color:#fff;}
.summarytip{border-bottom:1px solid #f1f1f1;padding:10px 0 15px;position:relative}
.coupon-remove {color: #0da9c4;cursor: pointer}

@media (max-width: 1199.98px) {
    .checkout{}
    .checkout_l,.checkout_r{width: 100%;margin-right: 0;}
    .checkout_btn button{padding: 14px 10px;width: 100%;margin-bottom: 20px;}
    .checkout_btn{flex-wrap: wrap;flex-direction: column-reverse;}
}
/*checkout*/
